*{

margin: 0;
padding: 0;
box-sizing: border-box;


}


h1{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

.body{

    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}


h1{


    color: #166bc8;
    font-size: 30px;
   text-align: left;
    margin-bottom: 60px;
    padding: 100px 0 0px 110px;

}

p{

color: #166bc8;
font-size: 18px;
text-align: left;
margin-bottom: 30px;
padding: 0px 50px 0px 110px;



}
.team  {


    position: absolute;
   padding: 0px 200px 200px 510px;

}
    
.logo {


   position: absolute;
   padding: 25px 0px 0px 200px;

}


.apply1 {

    position: absolute;
    padding: 30px 0 0 1050px;


}


.apply {

    position: absolute;
    padding: 50px 0 0 150px;

}


.registro {

    position: absolute;
    padding: 50px 0 0 150px;
}


.sent {

    position: absolute;
    padding: 620px 0 0 650px;
}